body {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #454242;
    padding: 20px 0;
}
h1,
h2,
span {
    color: #383333;
}

p {
    margin: 0;
    line-height: 1.5;
}

li {
    padding: 10px 0;
    text-indent: -10px;
    text-align: left;

}

#main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e6e9eb;
    padding: 20px 10px;
}
#title {
    padding: 20px 0;
    margin-bottom: 0;
    font-size: 35px;
}

#sub-title{
    margin-bottom: 15px;
}
h2 {
    font-size: 18px;
    padding: 25px 0;
}
.year {
    font-weight: 900;
    padding: 10px;
}

#tribute-info {
    width: 600px;
    margin: 0 auto;
}
#img-div {
   padding: 0 auto;
   margin: 10px 5px;
    overflow: hidden;
    background: #fff;
}
#image {
    display: block;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

#img-caption {
    padding: 15px;

}
.quotes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: left;
    font-style: italic;
}
.footer {
   font-weight: 900;
   padding: 30px 0;
    font-size: 18px;
}
#tribute-link {
    color:#359bb3;
    font-size: 18px;
}
